<section id="code">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6" *ngFor="let tool of tools">
            <a href="{{tool.url}}" target="_blank">
              <img src="{{tool.img}}" alt="{{tool.name}}" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <h4>The Code</h4>
        <h5><b>
          <em><b>No prior programming experience is required!</b></em> Our friendly mentors will guide you every step of the way, making sure you feel supported and ready to take on any coding challenge.
        </b></h5>
        <h5><b>
          In this intro to programming series, you'll learn the basics of web development, including how to structure a webpage with HTML, style it with CSS, and bring it to life with interactive JavaScript features. We like to think of this as the perfect starter kit for future web developers!
        </b></h5>
        <h5><b>
          Whether you're just beginning or looking to sharpen your skills, you’ll leave with new knowledge and the confidence to keep exploring the exciting world of coding.
        </b></h5>
      </div>      
    </div>
  </div>
</section>
