<section id="mentors">
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <h4>The Mentors</h4>
        <h5>Learning to code can feel overwhelming, but don't worry! We've brought in amazing mentors who are excited to guide you through the process in a fun environment. </h5>
        <h5>These mentors are passionate about the tech industry—whether they're working in it, learning, or simply love helping others get started. They're kind of like coding superheroes—and they also love cupcakes!</h5>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row margin-bottom" >
      <div class="col-sm-4 mentor leader" *ngFor="let leader of leaders">
        <a href="https://www.linkedin.com/in/{{leader.twitter}}" target="_blank">
          <img class="rounded-circle" src="{{leader.img}}" alt="{{leader.name}}"/>
          <h6>{{leader.name}}</h6>
          <p>{{leader.title}}</p>
        </a>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-3 mentor" *ngFor="let mentor of mentors">
        <a href="https://www.twitter.com/{{mentor.twitter}}" target="_blank">
          <img class="rounded-circle" src="{{mentor.img}}" alt="{{mentor.name}}"/>
          <h6>{{mentor.name}}</h6>
          <p>{{mentor.title}}</p>
        </a>
      </div>
    </div> -->
    <div>
      <h1>Interested in Mentoring? Sign up here.</h1>
      <app-mentor-form></app-mentor-form>
    </div>
  </div>
</section>
