.nav-background {
    background: #e29bad;
}

.nav-link, .dropdown-item {
    color: #ffffff !important;  // Force color to be white
    opacity: 1 !important;  // Force full opacity for bold color

    &:hover {
        opacity: 0.85 !important;  // Slightly reduce opacity on hover if desired
    }
}

.dropdown-menu>li>a {
    color: #ffffff !important;  // Force text color to white
    opacity: 1 !important;  // Force full opacity

    &:hover {
        opacity: 0.85 !important;  // Slightly reduce opacity on hover
    }
}
