@import 'variables';
@import 'typography';

.nav-background {
    background: #e29bad;
}

.dropdown-item:hover{
    background-color: #e29bad;
}

.dropdown-menu>li>a{
    color: $white;
    opacity: 0.5;

    &:hover {
        opacity: 0.75;
    }
}
