<section id="cupcakes">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h4>The Cupcakes</h4>
        <h5>We are thrilled to host a free coding event for young girls, non-binary, and transgender youth interested in learning how to code in a fun, supportive environment. You'll dive into HTML, CSS, and JavaScript while exploring different creative themes at each event. And of course, we'll have delicious cupcakes to enjoy!</h5>
        <h5>We're committed to providing an inclusive space where you can learn and grow your coding skills.</h5>
      </div>
      <div class="col-sm-5 align-self-center">
        <div class="cupcakes"></div>
      </div>
    </div>
  </div>
</section>
