<section id="cupcakes">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-sm-7">
        <h4 style="font-weight: bold;">The Cupcakes</h4>
        <h5 style="font-weight: bold; color: white; margin-bottom: 0;">HTML (The Cupcake Base)</h5>
        <p style="font-weight: bold; margin-top: 0;">Just as a cupcake’s base provides essential structure, HTML is the fundamental building block of a webpage. Without the cake, there’s no cupcake; without HTML, there’s no webpage.</p>
        <h5 style="font-weight: bold; color: white; margin-bottom: 0;">CSS (The Frosting)</h5>
        <p style="font-weight: bold; margin-top: 0;">Like frosting adds visual appeal to a cupcake, CSS styles a webpage, transforming HTML into something attractive and engaging, much like how frosting enhances a simple cake.</p>
        <h5 style="font-weight: bold; color: white; margin-bottom: 0;">JavaScript (The Sprinkles and Flavors)</h5>
        <p style="font-weight: bold; margin-top: 0;">Just as sprinkles and flavors add excitement to a cupcake, JavaScript introduces interactivity and dynamic behavior to a webpage, making it more engaging and functional.</p>
      </div>
      <div class="col-sm-5 align-self-center">
        <div class="cupcakes"></div>
      </div>
    </div>
  </div>
</section>
